cat > .gitignore << 'EOF'
# Data
Data/Raw_Data/
Data/Output/.csv
Data/Output/.png
# Virtual environment
.venv/
venv/
# Large files
*.csv
*.tsv
*.gz
*.gtf
*.dll
*.zip
*.xlsx

# Python
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/

# Jupyter
.ipynb_checkpoints/
EOF
# images
images/pca_plot.png
images/project_banner.png


git add .gitignore
git commit -m "Add .gitignore for large files"
git push
